.profile__profession {
    padding: 0;
    margin: 16px 0 0;
    width: 336px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 320px) {
    .profile__profession {
        width: 282px;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        margin: 10px 0 0;
    }
    
}