.profile__edit-button {
    width: 24px;
    height: 24px;
    margin-left: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    border: 0;
    padding: 0;
    opacity: 1;
    background: url('../../../../images/Edit_Button.png');
}

.profile__edit-button:hover {
    opacity: .5;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    cursor: pointer;
}

@media screen and (max-width: 880px) {
    .profile__edit-button {        
    width: 18px;
    margin-left: 0;    
    }
    
}