.profile__edit-button {
    width: 24px;
    height: 24px;
    margin-left: 25px;
    display: flex;
    background-color: #000;
    box-sizing:border-box;
    border: 0;
    padding: 0;
    opacity: 1;
    background: url('/images/Edit Button.png');
}

.profile__edit-button:hover {
    opacity: .5;
    transition: 1s ease;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {        
    width: 18px;
    height: 18px;
    margin-left: 10px;
    }
    
}