.profile__edit-button {
    width: 24px;
    height: 24px;
    background-image: url('../../../../images/Edit_Button.png');
    margin-left: 18px;
    background-repeat: no-repeat;
    background-color:black;
    background-size: contain;
    border: none;
    align-self:center;
}

.profile__edit-button:hover {
    opacity: .5;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    cursor: pointer;
}

@media screen and (max-width: 881px) {
    .profile__edit-button {      
        width: 18px;
        height: 18px;
    }
    
}