/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.profile__name {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 320px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        max-width: 250px;
    }
    
}