/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.popup__window {
    width: 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 10px;
    grid-area: window;
}

@media screen and (max-width: 320px) {
    .popup__window {
        width: 282px;
    }
    
}