.popup__window {
    width: 430px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 10px;
    grid-area: window;
}

@media screen and (max-width: 320px) {
    .popup__window {
        width: 282px;
    }
    
}