.elements__like {
    width: 23px;
    height: 19px;
    opacity: 1;
    align-self: center;
    background: url('/images/like_disabled.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.elements__like:active {
    background: url('/images/like_active.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.elements__like:hover {
    opacity: .8;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
}