.elements__like {
    margin-right: 30px;
    opacity: 1;
}

.elements__like:active {
}

.elements__like:hover {
    opacity: .8;
    cursor: pointer;
    scale: 1.5;
    transition: 1s ease-in-out;
}