.popup__underline {
    width: 358px;
    margin: 13px auto 0;
    border-bottom: 1px solid #000;
    opacity: .2;
}

@media screen and (max-width: 881px) {
    .popup__underline {
        width: 238px;
    }
}