/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.profile {
    max-width: 880px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
}

@media screen and (max-width: 881px) {
    .profile {
        max-width: 860px;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        max-width: 282px;
        display: -ms-grid;
        display: grid;
        -ms-grid-column: 282;
        grid-column: 282px;
        margin: 73px auto 0;
    }
}