.content {
    max-width: 880px;
    margin: 36px auto 0;
}

@media screen and (max-width: 881px) {
    .content {
        display: -ms-grid;
        display: grid;
        max-width: 100vw;
    }    
}

@media screen and (max-width: 320px) {
    .content {
        max-width: 319px;
        margin: 0;
    }    
}