.profile__person {
    display: flex;
    color: #fff;
    align-items:center;
}

@media screen and (max-width: 320px) {
    .profile__person {
        flex-direction: column;
        justify-content: center;
    }
}