.edit__save {
    background-color: black;
    color: white;
    width: 358px;
    height: 50px;
    margin: 0 30px 37px;
    opacity: 1;
    border-radius: 2px;
}

.edit__save:hover {
    opacity: .8;
    transition: 0.5s ease;
}