@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v8-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v8-latin_cyrillic-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v8-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v8-latin_cyrillic-500.woff') format('woff');
  }
 
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v8-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/inter-v8-latin_cyrillic-900.woff') format('woff'); /* Safari, Android, iOS */
  }