.popup__card-title {
    max-width: 75vw;    
    height: 12px;
    grid-area: card-title;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}