.elements {
    display: grid;
    margin: 49px auto 0;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 17px;
}

@media screen and (max-width: 320px) {
    .elements {
        grid-template-columns: 1fr;
        width: 282px;
        margin: 36px auto 0;
    }
    
}