.elements {
    max-width: 880px;
    display: -ms-grid;
    display: grid;
    margin: 49px auto 0;
    padding: 0;
    -ms-grid-columns: 1fr 17px 1fr 17px 1fr;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    -ms-grid-rows: 1fr;
    grid-template-rows: repeat(1, 1fr);
    row-gap: 20px;
    -webkit-column-gap: 17px;
       -moz-column-gap: 17px;
            column-gap: 17px;
}

@media screen and (max-width: 320px) {
    .elements {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        width: 282px;
        margin: 36px auto 0;
    }
    
}