.popup__close {
    grid-area: close;
    opacity: 1;
}

@media screen and (max-width: 321px) {
    .popup__close {
        width: 20px;
    }
    
}

.popup__close:hover {
    opacity: 0.5;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
}