.profile__edit {
    max-width: 336px;
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
}

@media screen and (max-width: 320px) {
    .profile__edit {
        width: 282px;
        margin: 22px 20px 0;
    }
    
}