/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.profile__edit {
    max-width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@media screen and (max-width: 320px) {
    .profile__edit {
        width: 282px;
        margin: 22px 20px 0;
    }
    
}