.profile__edit {
    max-width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@media screen and (max-width: 321px) {
    .profile__edit {
        width: 282px;
        margin: 22px auto 0;
        justify-content: center;
    }    
}