.profile__edit {
    max-width: 336px;
    display: flex;   
    align-items: baseline;
}

@media screen and (max-width: 320px) {
    .profile__edit {
        width: 282px;
        margin: 22px auto 0;
        justify-content: center;
    }
    
}