.popup__save {
    background-color: black;
    color: white;
    width: 358px;
    height: 50px;
    margin: 0 30px 37px;
    opacity: 1;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .popup__save {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 45px auto 25px;
    }    
}

.popup__save:hover {
    opacity: .8;
    transition: 0.5s ease;
    cursor: pointer;    
}

