.profile__add-post {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid white;
    opacity: 1;
}

.profile__add-post:hover {
    opacity: .5;
    transition: 1s ease;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .profile__add-post {
        width: 282px;
        margin-top: 30px;
    }
    
}