/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.profile__add-post {
    width: 150px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    border: 2px solid white;
    opacity: 1;
}

.profile__add-post:hover {
    opacity: .5;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .profile__add-post {
        width: 282px;
        margin: 30px auto 0;
    }
    
}