.profile__add-post {
    width: 150px;
    height: 50px;
    border: 2px solid white;
    background-color:black;
}

.profile__add-post:hover {
    opacity: .5;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    cursor: pointer;
}

@media screen and (max-width: 881px) {
    .profile__add-post {
        width: 282px;
        margin-top: 36px;
    }
    
}