.elements__like {
    width: 23px;
    height: 19px;
    opacity: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background: url('../../../../images/like_disabled.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.elements__like:active {
    background: url('../../../../images/like_active.png');
}

.elements__like:hover {
    opacity: .8;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}