.popup__profession {
    width: 358px;
    margin: 30px 36px 0;
    padding: 0 0 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 881px) {
    .popup__profession {
        width: 238px;
        height: 27px;
        margin: 43px auto 0;
    }
}