.elements__description {
    background-color: #fff;
    margin: 21px 16px 31px 21px;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 246px;
    justify-content: space-between;
    border: none;
}