.elements__description {
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items:center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    border: none;
}