.popup__container {
    width: 380px;
    height: 330px;
    position: relative;
    align-self: center;
    display: grid;
    grid-column: 2;
    grid-row: 2;
    column-gap: 8px;
    row-gap: 8px;
    grid-template-areas:
    ". close"
    "window .";
}

@media screen and (max-width: 320px) {
    .popup__container {
        width: 282px;
        grid-column: 1;
        grid-row: 2;
        justify-items: end;
        grid-template-areas:
        "close"
        "window";
    }
    
}