@import '../vendor/normalize.css';
@import '../fonts/fonts.css';
@import '../blocks/page/page.css';
@import '../blocks/header/header.css';
@import '../blocks/header/__logo/header__logo.css';
@import '../blocks/content/content.css';
@import '../blocks/popup/popup.css';
@import '../blocks/popup/_opened/popup_opened.css';
@import '../blocks/popup/__container/popup__container.css';
@import '../blocks/popup/__edit-window/popup__edit-window.css';
@import '../blocks/popup/profile-form/popup__profile-form.css';
@import '../blocks/popup/__close/popup__close.css';
@import '../blocks/popup/__close/_place/popup__close_place_view.css';
@import '../blocks/popup/__title/popup__title.css';
@import '../blocks/popup/__name/popup__name.css';
@import '../blocks/popup/__profession/popup__profession.css';
@import '../blocks/popup/__save/popup__save.css';
@import '../blocks/popup/__new-title/popup__new-title.css';
@import '../blocks/popup/__new-link/popup__new-link.css';
@import '../blocks/popup/__review/popup__review.css';
@import '../blocks/popup/__card-image/popup__card-image.css';
@import '../blocks/popup/__card-title/popup__card-title.css';
@import '../blocks/popup/__place_view/popup__place_view.css';
@import '../blocks/profile/profile.css';
@import '../blocks/profile/__person/profile__person.css';
@import '../blocks/profile/__info/profile__info.css';
@import '../blocks/profile/__image/profile__image.css';
@import '../blocks/profile/__edit/profile__edit.css';
@import '../blocks/profile/__name/profile__name.css';
@import '../blocks/profile/__profession/profile__profession.css';
@import '../blocks/profile/__edit-button/profile__edit-button.css';
@import '../blocks/profile/__add-post/profile__add-post.css';
@import '../blocks/elements/elements.css';
@import '../blocks/elements/__list/elements__list.css';
@import '../blocks/elements/__item/elements__item.css';
@import '../blocks/elements/__photo/elements__photo.css';
@import '../blocks/elements/__delete-btn/elements__delete-btn.css';
@import '../blocks/elements/__description/elements__description.css';
@import '../blocks/elements/__title/elements__title.css';
@import '../blocks/elements/__like/elements__like.css';
@import '../blocks/elements/__like/elements__like_active.css';
@import '../blocks/footer/footer.css';
@import '../blocks/footer/__copyright/footer__copyright.css';