@import '../vendor/normalize.css';
@import '../fonts/fonts.css';
@import '../blocks/page/page.css';
@import '../blocks/header/header.css';
@import '../blocks/header/__logo/header__logo.css';
@import '../blocks/content/content.css';
@import '../blocks/content/edit/edit.css';
@import '../blocks/content/edit/__popup/edit__popup.css';
@import '../blocks/content/edit/__window/edit__window.css';
@import '../blocks/content/edit/__close/edit__close.css';
@import '../blocks/content/edit/__title/edit__title.css';
@import '../blocks/content/edit/__name/edit__name.css';
@import '../blocks/content/edit/__profession/edit__profession.css';
@import '../blocks/content/edit/__save/edit__save.css';
@import '../blocks/content/edit/__button-text/edit__button-text.css';
@import '../blocks/content/profile/profile.css';
@import '../blocks/content/profile/__person/profile__person.css';
@import '../blocks/content/profile/__info/profile__info.css';
@import '../blocks/content/profile/__image/profile__image.css';
@import '../blocks/content/profile/__edit/profile__edit.css';
@import '../blocks/content/profile/__name/profile__name.css';
@import '../blocks/content/profile/__profession/profile__profession.css';
@import '../blocks/content/profile/__edit-button/profile__edit-button.css';
@import '../blocks/content/profile/__add-post/profile__add-post.css';
@import '../blocks/content/profile/__add-image/profile__add-image.css';
@import '../blocks/content/elements/elements.css';
@import '../blocks/content/elements/__item/elements__item.css';
@import '../blocks/content/elements/__photo/elements__photo.css';
@import '../blocks/content/elements/__description/elements__description.css';
@import '../blocks/content/elements/__title/elements__title.css';
@import '../blocks/content/elements/__like/elements__like.css';
@import '../blocks/footer/footer.css';
@import '../blocks/footer/__copyright/footer__copyright.css';