@import '../vendor/normalize.css';
@import '../fonts/fonts.css';
@import '../blocks/header/header.css';
@import '../blocks/header/__logo/header__logo.css';
@import '../blocks/content/content.css';
@import '../blocks/content/profile/profile.css';
@import '../blocks/content/profile/__info/profile__info.css';
@import '../blocks/content/profile/__image/profile__image.css';
@import '../blocks/content/profile/__frame/profile__frame.css';
@import '../blocks/content/profile/__name/profile__name.css';
@import '../blocks/content/profile/__profession/profile__profession.css';
@import '../blocks/content/profile/__edit-button/profile__edit-button.css';
@import '../blocks/content/profile/__add-post/profile__add-post.css';
@import '../blocks/content/profile/__add-image/profile__add-image.css';
@import '../blocks/content/elements/elements.css';
@import '../blocks/content/elements/__item/elements__item.css';
@import '../blocks/content/elements/__photo/elements__photo.css';
@import '../blocks/content/elements/__description/elements__description.css';
@import '../blocks/content/elements/__title/elements__title.css';
@import '../blocks/content/elements/__like/elements__like.css';
@import '../blocks/footer/footer.css';
@import '../blocks/footer/__copyright/footer__copyright.css';