.edit__popup {
    width: 380px;
    height: 330px;
    margin: 0 auto;
    display: grid;
    grid-column: 2;
    grid-row: 2;
    column-gap: 8px;
    row-gap: 8px;
    grid-template-areas:
    ". close"
    "window .";
}