.footer {
    width: 880px;
    color: white;
    margin: 67px auto 60px;
}

@media screen and (max-width: 881px) {
    .footer {
        max-width: 300px;
        margin: 67px 15px;
    }
}

@media screen and (max-width: 321px) {
    .footer {
        max-width: 282px;
        margin: 48px auto 36px;
    }
}