.footer {
    max-width: 880px;  
    color: white;
    margin: 67px 200px 60px;    
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 282px;
        margin: 48px 19px 36px;
    }    
}