.popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0 0 0 .5);
    position: fixed;
    justify-content: center;
    display:flex;
    left: 0;
    top: 0;
    visibility: hidden;
}
