/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0 0 0 .5);
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    left: 0;
    top: 0;
    visibility: hidden;
}