.popup__title {
    margin: 34px 0 0 36px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width: 320px) {
    .popup__title {
        margin: 25px auto;
        font-size: 18px;
        line-height: 22px;
    }    
}